@tailwind base;
/* Write your own custom base styles here */



/* Start purging... */

@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */

@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */




@layer components {

    /*
    
        DEFINE FONTFACES
    
    */
    @font-face {
        font-family: 'Anbani Noto Sans';
        src: url('../typography/AnbaniNotoSans-Regular.woff2') format('woff2'), url('../typography/AnbaniNotoSans-Regular.woff') format('woff'), url('../typography/AnbaniNotoSans-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Anbani Noto Serif';
        src: url('../typography/AnbaniNotoSerif-Regular.woff2') format('woff2'), url('../typography/AnbaniNotoSerif-Regular.woff') format('woff'), url('../typography/AnbaniNotoSerif-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Relish Pro Light';
        src: url('../typography/RelishPro-Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Relish Pro';
        src: url('../typography/RelishPro.ttf') format('truetype');
    }


    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-Heavy.otf') format('truetype');
        font-weight: 900;
    }

    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-ExtraBold.otf') format('truetype');
        font-weight: 800;
    }

    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-Bold.otf') format('truetype');
        font-weight: 700;
    }

    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-SemiBold.otf') format('truetype');
        font-weight: 600;
    }


    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-Bold.otf') format('truetype');
        font-weight: 700;
    }

    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-Medium.otf') format('truetype');
        font-weight: 500;
    }

    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-Regular.otf') format('truetype');
        font-weight: 400;
    }

    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-Light.otf') format('truetype');
        font-weight: 300;
    }

    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-Thin.otf') format('truetype');
        font-weight: 200;
    }
    @font-face {
        font-family: 'FiraGO';
        src: url('../typography/FiraGO/FiraGO-Hair.otf') format('truetype');
        font-weight: 100;
    }
    @font-face {
        font-family: 'Italiana';
        src: url('../typography/Italiana-Regular.ttf') format('truetype');
    }


    /* 
    
        DEFINE GLOBALS
    
    */

    html, body {
        overflow-x: hidden;
        @apply bg-brand-800 selection:bg-secondary-400 selection:text-brand-50
    }

    /* removes annoying blue rectangle on mobile */

    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }


    /* 
    
        COMPONENTS
    
    */

    h {
        /* opacity:0.9; */
        /* font-style: italic; */
        font-weight: 200
    }

    .dotgrid {
        background-image: radial-gradient(hsla(210, 40%, 96%, 0.7) 2%, transparent 0);
        background-size: 31px 31px;
    }

    .dotgridfooter {
        background-image: radial-gradient(hsla(215, 25%, 30%, 0.3) 10%, transparent 0);
        /* background-image: radial-gradient(hsla(215, 25%, 30%, 0.1) 3%, transparent 0); */
        /* background-image: radial-gradient(rgba(255,255,255,1) 10%, transparent 0); */
        background-size: 13px 13px;
        /* background-size: 66px 66px; */
    }

    .page {
        background: white;
        display: block;
        margin: 20px auto;
        page-break-after: always;
    }

    .pageA4 {
        width: 21cm;
        height: 29.7cm;
        overflow:hidden;
    }

    @media print {

        body,
        .page {
            margin: 0 !important;
            /* overflow: hidden; */
            overflow: visible;
        }

        .hello {
            display: none;
        }

        .container {
            @apply pt-0
        }
    }



    

}